{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "home/styles/styles.css" %}" type="text/css">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}


<!--div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" height="512">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="{{ MEDIA_URL }}/backgrounds/People-fireworks.jpg" class="d-block" alt="..." height="512">
            <div class="container">
                <p>1</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="{{ MEDIA_URL }}/backgrounds/bg02.jpg" class="d-block " alt="...">
            <div class="container">
                <p>2</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="{{ MEDIA_URL }}/backgrounds/bg01.jpg" class="d-block mx-auto" alt="...">
            <div class="container">
                <p>3</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</!--div-->

<div class="container">
    
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="row featurette" >
        <div class="col-md-7 text-wrapper">
            <a href="{% url 'product' item1.pk %}">
                <h2 class="featurette-heading">{{ item1.name }}</h2>
                <p class="lead d-none d-sm-block">{{ item1.description }}</p>
            </a>
        </div>
        <div class="col-md-5">
            <a href="{% url 'product' item1.pk %}">
                <img class="card-img mx-auto" src="{{ item1.image.url }}"></img>
            </a>
        </div>
    </div>


    <hr class="featurette-divider">

    <div class="articles-wrapper">
        <div class="card mx-auto">
            <img src="{{ item2.image.url }}" class="card-img mx-auto" alt="...">
            <a href="#" class="btn btn-info bg-indigo w-100">{{ item2.articles.friendly_name|capfirst }}</a>
        </div>
    
        <div class="card mx-auto">
            <img src="{{ item3.image.url }}" class="card-img mx-auto" alt="...">
            <a href="#" class="btn btn-info bg-indigo w-100">{{ item3.articles|capfirst }}</a>
        </div>
    
        <div class="card mx-auto">
            <img src="{{ item4.image.url }}" class="card-img mx-auto" alt="...">
            <a href="#" class="btn btn-info bg-indigo w-100">{{ item4.articles|capfirst }}</a>
        </div>
    
        <div class="card mx-auto">
            <img src="{{ item5.image.url }}" class="card-img mx-auto" alt="...">
            <a href="#" class="btn btn-info bg-indigo w-100">{{ item5.articles|capfirst }}</a>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 promo-wrapper">
            <a href="{% url 'product' item6.pk %}">
                <h2 class="featurette-heading">{{ item6.name }}</h2>
                <p class="lead d-none d-sm-block">{{ item6.description }}</p>
            </a>
        </div>
        <div class="col-md-5">
            <a href="{% url 'product' item6.pk %}">
                <img class="card-img mx-auto" src="{{ item6.image.url }}"></img>
            </a>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="articles-wrapper">
        <div class="card mx-auto">
            <img src="{{ item7.image.url }}" class="card-img mx-auto" alt="...">
            <a href="#" class="btn btn-info bg-indigo w-100">{{ item7.articles|capfirst }}</a>
        </div>
    
        <div class="card mx-auto">
            <img src="{{ item8.image.url }}" class="card-img mx-auto" alt="...">
            <a href="#" class="btn btn-info bg-indigo w-100">{{ item8.articles|capfirst }}</a>
        </div>

        <div class="card mx-auto">
            <img src="{{ item9.image.url }}" class="card-img mx-auto" alt="...">
            <a href="#" class="btn btn-info bg-indigo w-100">{{ item9.articles|capfirst }}</a>
        </div>
    
        <div class="card mx-auto">
            <img src="{{ item10.image.url }}" class="card-img mx-auto" alt="...">
            <a href="#" class="btn btn-info bg-indigo w-100">{{ item10.articles|capfirst }}</a>
        </div>
    </div>

    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-7">
            <a href="{% url 'product' item11.pk %}">
                <h2 class="featurette-heading">{{ item11.name }}</h2>
                <p class="lead d-none d-sm-block">{{ item11.description }}</p>
            </a>
        </div>
        <div class="col-md-5 img-wrapper">
            <a href="{% url 'product' item11.pk %}">
                <img class="card-img mx-auto" src="{{ item11.image.url }}"></img>
            </a>
        </div>
    </div>

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% endblock %}


{% block extra_js %}
    <script>
        var myCarousel = document.querySelector('#carouselExampleInterval')
        var carousel = new bootstrap.Carousel(myCarousel)
    </script>

    <script>
        document.getElementById("demo").innerHTML = Math.floor(Math.random() * 40);
    </script>

{% endblock %}