{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "home/styles/styles.css" %}" type="text/css">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row featurette">
        <div class="col-md-7 text-wrapper">
            <a href="{% url 'product' item0.pk %}">
                <h2 class="featurette-heading">{{ item0.name }}</h2>
                <p class="lead d-none d-sm-block mt-4">{{ item0.description }}</p>
            </a>
        </div>
        <div class="col-md-5 img-wrapper">
            <a href="{% url 'product' item0.pk %}">
                <img class="card-img mx-auto" src="{{ item0.image.url }}" alt="item0.name"></img>
            </a>
        </div>
    </div>

    <hr class="featurette-divider my-2 bg-info">

    <div class="title-wrapper">
        <h2>{{ article_name|capfirst }}s</h2>
    </div>
    <div class="articles-wrapper">
        {% for article in articles %}
        <div class="card border border-info">
            <a href="{% url 'product' article.pk %}">
                <img src="{{ article.image.url }}" class="card-img mx-auto" alt="article.name">
                <span class="bg-info rounded-bottom w-100 py-2" role="button">{{ article.name|truncatechars:12|capfirst }}</span>
            </a>
        </div>
        {% endfor %}
    </div>

    <hr class="featurette-divider my-4 bg-info">

    <div class="row my-5 featurette">
        <div class="col-md-7 promo-wrapper">
            <a href="{% url 'product' item1.pk %}">
                <h2 class="featurette-heading">{{ item1.name }}</h2>
                <p class="lead d-none d-sm-block mt-4">{{ item1.description }}</p>
            </a>
        </div>
        <div class="col-md-5 img-wrapper">
            <a href="{% url 'product' item1.pk %}">
                <img class="card-img mx-auto" src="{{ item1.image.url }}"></img>
            </a>
        </div>
    </div>

    <hr class="featurette-divider my-4 bg-info">

    <div class="title-wrapper">
        <h2>{{ category_name|capfirst }}s</h2>
    </div>
    <div class="articles-wrapper">
        {% for category in categories %}
        <div class="card border border-info">
            <a href="{% url 'product' category.pk %}">
                <img src="{{ category.image.url }}" class="card-img mx-auto" alt="category.name">
                <span class="bg-info rounded-bottom w-100 py-2" role="button">{{ category.name|truncatechars:12|capfirst }}</span>
            </a>
        </div>
        {% endfor %}
    </div>

    <hr class="featurette-divider my-4 bg-info">

    <div class="row my-5 featurette">
        <div class="col-md-7 promo-wrapper">
            <a href="{% url 'product' item2.pk %}">
                <h2 class="featurette-heading">{{ item2.name }}</h2>
                <p class="lead d-none d-sm-block mt-4">{{ item2.description }}</p>
            </a>
        </div>
        <div class="col-md-5 img-wrapper">
            <a href="{% url 'product' item2.pk %}">
                <img class="card-img mx-auto" src="{{ item2.image.url }}"></img>
            </a>
        </div>
    </div>

    <hr class="featurette-divider my-4 bg-info">
    
    <div class="title-wrapper ">
        <h2>For {% if gender_name != 'men' %}him{% else %}her{% endif %}</h2>
    </div>
    <div class="articles-wrapper overflow-auto">
        {% for gender in gender_products %}
        <div class="card border border-2 border-info">
            <a href="{% url 'product' gender.pk %}">
                <img src="{{ gender.image.url }}" class="card-img mx-auto" alt="gender.name">
                <span class="bg-info rounded-bottom w-100 py-2" role="button">{{ gender.name|truncatechars:12|capfirst }}</span>
            </a>
        </div>
        {% endfor %}
    </div>

</div>

<div class="">{{ article1 }}</div>

{% endblock %}
