.products-row {
    height: 210px;
    padding: 5px;
    border: 1px #F8F9FA solid;
    border-radius: 10px;
}

.img-wrapper {
    max-width: 200px;
    max-height: 200px;
}

.img-wrapper img {
    height: auto;
    max-height: 190px;
    width: auto;
    max-width: 100%;
    object-fit: contain;

    margin: 4px auto;
    vertical-align: middle;

}