{% extends "base.html" %}
{% load static %}
{% load countries %}

{#% load bag_tools %#}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'checkout/styles/styles.css'%}">
{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 py-2">
            <h2>Checkout</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-around">
        <div class="summary-wrapper">
            <h4 class="d-flex  align-items-center mb-3">
                <span class="text-muted">Your cart: </span>
            </h4>
            <ul class="list-group mb-3 border border-3 border-warning shadow">
            {% if bag_items %}
                {% for item in bag_items %}
                    <li class="list-group-item d-flex justify-content-between border-2
                        border-top-0 border-start-0 border-end-0 border-bottom 
                        {% if forloop.counter|divisibleby:2 %} border-warning  {% else %} border-info {% endif %}{{forloop.counter}}">
                        <div class="thumbnail-wrapper text-center">
                            <img src="{{ item.product.image.url }}" alt="" class="img-thumbnail rounded">
                        </div>
                        <div class="w-100 px-1">
                            <h6 class="my-0">{{ item.product.name }}</h6>
                            {% if item.size %}
                                <small class="text-muted"><strong>Size:</strong> {{ item.size }}</small><br>
                            {% endif %}
                            <small class="text-muted"><strong>Quantity:</strong> {{ item.quantity }}</small>
                        </div>
                        <div class="align-self-center">
                            <span class="text-muted h-100 "><strong>&#163;{{item.product.price}}</strong></span>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
                <li class="list-group-item d-flex justify-content-between border-0">
                    <span><strong>Total</strong>(<i class="mx-1">GBP</i>)</span>
                    <strong><i>&#163;{{ grand_total }}</i></strong>
                </li>
            </ul>
        </div>

        <div class="form-payment-wrapper">
            <h4 class="mb-3 text-muted">Billing address</h4>
            <form id="checkout-form" action="{% url 'checkout' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 mb-3 d-flex">
                        <label for="firstName" class="w-25">Full Name</label>
                        <input type="text" class="form-control w-75 border border-info" id="firstName" placeholder="First Name" value="" name="full_name" required>
                        <div class="invalid-feedback border border-danger">
                            Valid last name is required.
                        </div>
                    </div>
                    <div class="col-12 mb-3 d-flex">
                        <label for="email" class="w-25">Email</label>
                        <input type="email" class="form-control w-75 border border-info" id="email" placeholder="your@email.com"  name="email" required>
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mb-3 d-flex">
                        <label for="email" class="w-25">Telephone</label>
                        <input type="tel" class="form-control w-75 border border-info" id="phone-number" placeholder="Telephone (123-456-7890)"  name="phone_number" required>
                        <div class="invalid-feedback">
                            Telephone number incorrect.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mb-3 d-flex">
                        <label for="postcode" class="w-25">Postcode</label>
                        <input type="text" class="form-control w-75 border border-info" id="postcode" placeholder="Postcode" name="postcode" required>
                        <div class="invalid-feedback">
                            Postcode code required.
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 mb-3 d-flex">
                        <label for="address" class="w-25">Address Line 1</label>
                        <input type="text" class="form-control w-75 border border-info" id="address" placeholder="1234 Main St"  name="street_address1" required>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    <div class="col-12 mb-3 d-flex">
                        <label for="address2" class="w-25">Address Line 2</label>
                        <input type="text" class="form-control w-75 border border-info" id="address2" placeholder="Apartment or suite"  name="street_address2">
                    </div>

                    <div class="col-12 mb-3 d-flex">
                        <label for="town-or-city" class="w-25">Town or City</label>
                        <input type="text" class="form-control w-75 border border-info" id="town-or-city" placeholder="Town or City"  name="town_or_city" required>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 mb-3 d-flex">
                        <label for="country" class="w-25">Country</label>
                        {% get_countries as countries %}
                        <select name="country" id="country" placeholder="Country" class="form-select w-75 border border-info">
                            {% for country in countries %}
                                <option value="{{ country.code }}">{{ country.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>

                    <div class="col-12 mb-3 d-flex">
                        <label for="address2" class="w-25">County</label>
                        <input type="text" class="form-control w-75 border border-info" id="county" placeholder="County"  name="county" required>
                        <div class="invalid-feedback border border-danger">
                            Please provide a valid state.
                        </div>
                    </div>

                <div class="row">
                    <div class="col-12">
                        <hr class="border border-2 border-info my-4">
                    </div>
                </div>
                
                <div class="row">
                    <div class="px-5">
                        <div class="form-check">
                            <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
                            <input type="checkbox" class="form-check-input" id="same-address" name="same-address">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="save-info">Save this information for next time</label>
                            <input type="checkbox" class="form-check-input" id="save-info" name="save-info">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <hr class="border border-2 border-info my-4">
                    </div>
                </div>
                
                <div class="row">
                    <div class="stripe-wrapper">
                        <h4 class="mb-3 text-muted">Payment</h4>
                        <div id="card-element"></div>
                        <div id="card-errors"></div>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <hr class="border border-2 border-info my-4">
                    </div>
                </div>
                
                <div class="row">
                    <div class="submite-buttom text-center">
                        <button type="submit" id="checkout-button" class="btn btn-info btn-lg btn-block border border-2 border-warning shadow text-white">
                            <strong>Submit Payment</strong>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--script>window.jQuery || document.write('<!script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/holder.min.js"></script-->
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
        'use strict';

        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
            });
        }, false);
        })();

        /*********************************************/
        /********** Phone Input Auto Dash ************/ 
        /*********************************************/
        $('#phone-number').keyup(function(){
            $(this).val($(this).val().replace(/(\d{3})\-?(\d{3})\-?(\d{4})/,'$1-$2-$3'))
        });
    </script>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ stripe_public_key|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/scripts/stripe_elements.js' %}"></script>
{% endblock %}