html {
    height: 100%;
}

body {
    background: url('../../media/snow-winter-cute-decoration-christmas-owl-1264635-pxhere.com.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 60px);

}

footer {}

main {
    margin-top: 3rem;
}

.fa-tiktok {
    color: red;
}




@media (max-width: 768px) {
    body {
        height: calc(100vh - 103px);
    }
}