<form action="{% url 'allproducts' %}" method="GET" class="w-100">
    <div class="search-container input-group flex-wrap mt-2 mt-md-0 mx-auto">
        <input name="q" class="form-control" type="text" placeholder="Search" aria-label="Search">
        <div class="input-group-append search ">
            <button class="input-group-text bg-warning" ><i class="fas fa-search text-light"></i></button>
        </div>
    </div>
</form>


<div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav">
        <!--li class="nav-item active">
            <a class="nav-link text-info" href="#">Home <span class="sr-only">(current)</span></a>
        </li-->
        <li class="nav-item">
            <a class="nav-link text-info" href="{% url 'allproducts' %}"><i class="fas fa-user "></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" href="#"><i class="fas fa-shopping-cart"></i></a>
        </li>
    </ul>
</div>
