{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Login{% endblock %}

{% block inner_content %}
<div class="login-container border border-info rounded mx-auto">
  <h2 class="bg-info text-white text-center p-2">Login</h2>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
    <p class="py-2 my-2">{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot p-2">

      <ul class="socialaccount_providers px-2">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
    <p class="px-3 mt-4">{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}" class="text-white bg-info p-1"><strong>sign up</strong></a> first.{% endblocktrans %}</p>
  {% endif %}

  <form class="login px-2" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class="inner-form-conainer py-2">
      {{ form|crispy }}
    </div>

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="button secondaryAction p-2 text-info" href="{% url 'account_reset_password' %}">
      <strong>{% trans "Forgot Password?" %}</strong>
    </a>
    <br>
    <div class="login-button my-4">
      <button class="primaryAction btn btn-info border border-2 border-warning" type="submit">
        <strong>{% trans "Sign In" %}</strong>
        <i class="fas fa-sign-in-alt mx-1"></i>
      </button>
    </div>
  </form>
</div>

  <script>
    
  </script>

{% endblock %}
