{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
    <div class="allauth-form-container mx-auto border border-info">
        <div class="allauth-title text-white bg-info">
            <h2 class="py-3 text-center">{% trans "Password Reset" %}</h2>
        </div>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="p-2">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" class="d-flex py-2">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="button-container d-flex">
                <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-info text-white m-4 py-2 mx-auto"/>
            </div>
        </form>

        <p class="p-2">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
{% endblock %}
