{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<main style="margin-top:150px;">
    <div class="container m-2">
        <div class="row">
            <div class="col-12">
                <h1 class="">
                    Shopping Bag
                </h1>
            </div>
        </div>
    </div>
</main>
{% endblock %}