{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>

{% block meta %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block extra_meta %}{% endblock %}

{% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
{% endblock %}

{% block extra_css %}{% endblock %}

{% block corejs%}
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Stripe  -->
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

<title>
    {% block title %}
        BackPocket
    {% endblock title %}
</title>
</head>
<body>
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand align-middle brand-link" href="{% url 'home' %}">
                <i class="text-info fab fa-shirtsinbulk fa-lg"></i>
                    <span class="brand-name">BackPocket</span>
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            
            <form action="{% url 'allproducts' %}" id="search-bar" method="GET" class="w-100">
                <div class="input-group ">
                    <input name="q" class="form-control" type="text" placeholder="Search" aria-label="Search">
                    <button class="input-group-text" id="basic-addon2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                        </svg>
                    </button>
                </div>
            </form>

            <div class="collapse navbar-collapse ml-auto w-auto" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown py-auto">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Products
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Categories</a></li>
                                <li><a class="dropdown-item" href="#">Articles</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li class="nav-item">
                                    <a class="dropdown-item w-100" aria-current="page" href="{% url 'allproducts' %}">All Products</a>
                                </li>
                            </ul>
                        </li>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ user.get_username|title }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Orders</a></li>
                                <li><a class="dropdown-item" href="#">Account</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link align-middle" href="{% url 'account_login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    {% endif %}
                    <li class="nav-item text-info basket-wrapper">
                        <!--span class="product-counter">{{products_count}}</!--span-->
                        <a class="nav-link checkout-link d-flex" href="{% url 'shopping_bag' %}"><i class="fas fa-shopping-bag fa-2x"></i><span class="d-lg-none">Checkout</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>

{% block content %}{% endblock %}

<div class="container">
        <div class="row">
            <div class="col-12">
                {% if messages %}
                    <div class="message-container">
                        {% for message in messages %}
                            {% with message.level as level %}
                                {% if level == 40 %}{# error message #}
                                    {% include 'includes/toasts/toast_error.html' %}
                                {% elif level == 30%}{# Warningn #}
                                    {% include 'includes/toasts/toast_warning.html' %}
                                {% elif level == 25 %}{# success #}
                                    {% include 'includes/toasts/toast_success.html' %}
                                {% else %}
                                    {% include 'includes/toasts/toast_info.html' %}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>

<footer class="page-footer lighten-3 bg-dark">
    <div class="container py-4 mb-4 text-light">
        <h4><i class="fab fa-shirtsinbulk fa-sm"></i>BackPocket</h4>
        <hr class="bg-white">
        <div class="row">
            
            <div class="col-md-4 col-lg-3 mt-4 mb-1">
                <ul class="list-unstyled ">
                    <li><i class="far fa-paper-plane"></i>Contact us</li>
                    <li><i class="far fa-envelope"></i>info@backpocket.com</li>
                    <li><i class="fas fa-phone-alt"></i>+ 01 234 567 88</li>
                    <li><i class="fas fa-map-marker-alt"></i>1 Kildare St, Leicester LE1 3YH</li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-6 mt-4 mb-1 ">
                <div id="map" class="w-100 h-100"></div>
            </div>
            

            <div class="col-md-4 col-lg-3 mt-4 mb-1">
                <h5>Follow us</h5>
                <ul class="list-unstyled ">
                    <li><a href="" class="text-light"><i class="fab fa-facebook-f"></i>facebook</a></li>
                    <li><a href="" class="text-light"><i class="fab fa-twitter"></i>twitter</a></li>
                    <li><a href="" class="text-light"><i class="fab fa-pinterest-p"></i>pinterest</a></li>
                    <li><a href="" class="text-light"><i class="fab fa-tiktok"></i>tiktok</a></li>
                    <li><a href="" class="text-light"><i class="fab fa-instagram"></i>instagram</a></li>
                </ul>

                <p>Sign up to our newsletter and get 15% off your first order  </p>
                
                <div class="progress-bar">
                    <a href="" class="btn btn-warning text-light   progress-bar-striped bg-warning">Sign up for newsletter <i class="fas fa-chevron-right text-white"></i></a>
                </div>
            </div>
        </div>

    </div>

    <div class="footer-copyright text-center bg-secondary text-light py-4">
        <a href="#" class="text-light">Jose Enciso</a>:
        <a href="#" class="text-light">MS4-eCommerce - <i class="fab fa-shirtsinbulk fa-sm"></i>BackPocket</a>
    </div>

    

</footer>
    
    {% block extra_js %}
        
        <script>
            $('.btn-offcanvas').click(function(){
                $('.offcanvas-collapse').toggleClass('open');
            })
        </script>
        
    {% endblock %}

    {% block postloadjs %}
        <!--script defer
            src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
        </!--script-->

        <script>
        /*
            ((function () {
                'use strict';

                document.querySelector('[data-bs-toggle="offcanvas"]').addEventListener('click', function () {
                    document.querySelector('.offcanvas-collapse').classList.toggle('open');
                })
            }))
            */
        </script>
        

        <script>
            $(document).ready(function() {
                $(".toast").toast('show');
            });
        </script>
    {% endblock %}
    </body>
</html>