li {
    list-style: none;
}

.card {
    padding: 0;
    width: 288px;
}

.card .card-image {
    text-align: center;
} 

.card-image img {
    max-width: 280px;
    height: 262px;
    padding: 5px;
    background-size: contain;
}

.price-rating {
    position: absolute;
    bottom: 0;
}

.offcanvas-collapse .nav-item {
    padding: 5px;
}
.offcanvas-collapse ul {
    padding-left: 5px;
}

@media (min-width: 768px) {

    .card {
    }
    .product-card {
        background-color: rgb(250, 250, 250);
        margin: 1rem auto;
        height: 528px;
    }

    .filter-button {
        display: none;
    }

    .filter-container {
        min-width: 125px;
    }
}

@media (max-width: 768px) {
    
    .offcanvas-collapse {
        position: fixed;
        top: 55px;
        /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 50%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        /*background-color: #343a40;*/
        transition: transform .3s ease-in-out,
            visibility .3s ease-in-out;
        z-index: 1;
        outline: solid #F1F1F1;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
    
    #search-bar {
        margin-top: 5px;
    }

    .product-cards {
    }

    .filter-container {
        padding: 0 10px !important;
    }
}