body{
    /*height: 100vh;*/
    background-color: rgb(248,249,250);
    /*background: rgba(126, 224, 248, 0.4);
    background: linear-gradient(0deg, rgba(139, 229, 252, 0.645) 0%, rgba(22,208,249,0.5438550420168067) 41%, rgba(0,212,255,0.2413340336134454) 74%, rgba(248,249,250,1) 100%);
*/}

main{
    min-height: 60vh;
    margin-top: 60px;
    margin-bottom: 80px;
}

li {
    list-style: none;
}

#search-bar{
    width: 100%;
}

.basket-wrapper {
    max-width: 36px;
    height: 36px;

    position: relative;
}

.basket-wrapper a {
    padding: 0;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;

}

.product-counter {
    font-weight: 800;

    margin: 0;
    padding: 0;

    /*border: 2px solid yellow;
    border-radius: 20% 20%;*/
    color: black;
    text-align: center;

    position: absolute;
    top: 25%;
    left: 35%;
}

.message-container{
    position: fixed;
    top: 70px;
    right: 50px;
    z-index: 9999;
}

@media (min-width: 768px) {
    .product-card {
        background-color: rgb(250, 250, 250);
        margin: 1rem auto;
        height: 528px;
    }

    */

    .filter-button {
        display: none;
    }

    .add-to-cart,
    .size-select {
        width: 60%;
    }
    .btn-offcanvas {
        display: none;
    }

    #sort-selector {
        width: 240px;
        margin-left: auto;
    }
    }

@media (max-width: 768px) {
    
    .offcanvas-collapse {
        position: fixed;
        top: 55px;
        /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 50%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        /*background-color: #343a40;*/
        transition: transform .3s ease-in-out,
            visibility .3s ease-in-out;
        z-index: 2;
        outline: solid #F1F1F1;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
    
    #search-bar {
        margin-top: 5px;
    }
    .filter-container {
        padding: 0 10px !important;
    }
}
@media (max-width: 576px) {

    .card .card-body {
        height: 80px;
    }
}