body{
    background-color: rgb(250, 251, 253);
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}

nav .container-fluid{
    margin-left: 50px;
    margin-right: 50px;
}

main{
    min-height: 60vh;
    margin-top: 60px;
    margin-top: 120px;
    margin-bottom: 80px;
}

li {
    list-style: none;
}

.brand-link .fa-shirtsinbulk{
    font-size: 1.8rem;
}

.brand-name{
    font-size: 2rem;
    font-weight: 500;
}

.basket-wrapper img{
    z-index: -1;
    width: 32px;
    height: 32px;
    top: -1px;
    left: 1px;
}

.products-counter{
    width: 32px;
    height: 32px;
}

.message-container{
    position: fixed;
    top: 130px;
    right: 50px;
    z-index: 9999;
}

/**********************************************/

.register-button button,
.login-button button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
}

.register-button i,
.login-button i{
    width: 20px;
    margin-left: 5px;
}

.login-container label{
    padding-left: 10px;
}

.login-container form input[type="text"],
.login-container form input[type="password"]{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.login-container form input[type="checkbox"]{
    margin-left: 0;
}

.login-container form input[type="checkbox"] label{
    padding-left: -10px;
}

/**********************************************/
.allauth-form-container #div_id_email{
    display: flex;
}

.allauth-form-container #div_id_email label{
    width: 20%;
    margin: 5px 0;
    padding-left: 10px;
}

.allauth-form-container #div_id_email div input{
    width: 100%;
}

.allauth-form-container form .button-container input{
    margin: 10px auto;
}


.inner-form-container input{
    padding-bottom: 10px;
}
/**********************************************/

#signup_form label{
    padding-left: 5px;
}

#signup_form input{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.login-container p{
    margin-top: 10px;
}

footer li i{
    width: 21px;
    padding-right: 5px;
    text-align: center;
}

footer li a:hover{
    color: rgb(255,193,7);
}

.card-product .card-image{
    width: 20%;
}

.card-product .card-body{
    width: 80%;
    padding-right: 5%;
}

hr{
    opacity: 1;
}

.signup{
    width: 500px;
}

@media(min-width: 993px){

}

@media(max-width: 991x){
    main{
        margin-top: 131px;
        padding-top: 20px
    }


}

@media (min-width: 768px) {

    .filter-button {
        display: none;
    }

    .add-to-cart,
    .size-select {
        width: 60%;
    }
    .btn-offcanvas {
        display: none;
    }

    #sort-selector {
        width: 240px;
        margin-left: auto;
    }
    
}

@media (max-width: 768px) {
    
    .offcanvas-collapse {
        position: fixed;
        top: 55px;
        /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 50%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        /*background-color: #343a40;*/
        transition: transform .3s ease-in-out,
            visibility .3s ease-in-out;
        z-index: 2;
        outline: solid #F1F1F1;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
    
    #search-bar {
        margin-top: 5px;
    }
    .filter-container {
        padding: 0 10px !important;
    }
}

@media (max-width: 576px) {

    .card-product .card-image,
    .card-product .card-body{
        width: 50%;
    }
}

@media(min-width: 400px){
    .allauth-form-container,
    .login-container,
    .register-container{
        max-width: 320px;
    }
}