{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/styles/add_product.css'%}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Product Management</h2>
                <h3>Add a new product</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <form class="form-con" action="{% url 'add_new_product'%}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    
                    {% for field in form %}
                        <div class="form-floating">
                            {{ field }}
                            <label for="{{ field.name }}">
                                {{ field.label }}
                            </label>
                        </div>
                    {% endfor %}

                    <div class="row mt-2">
                        <div class="col-12">
                            <a href="" class="btn btn-danger">Cancel</a>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}