{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

<main class="py-5">

    <div class="container header-container">
        <div class="row">
            {% for product in products %}
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="product p-1">
                        <div class="product-image">
                            <img class="" src="{{ product.image.url }}" alt="product">
                        </div>
                        <div class="product-info">
                            <span class="text-muted text-sm mb-1">{{ product.article_type }}</span>
                            
                            <div class="product-rating d-flex align-items-center text-sm">
                                <div class="product-rating d-flex align-items-center text-sm">
                                    <i class="fas fa-star text-warning mx-0"></i>
                                    <i class="fas fa-star text-warning mx-0"></i>
                                    <i class="fas fa-star text-warning mx-0"></i>
                                    <i class="fas fa-star text-warning mx-0"></i>
                                    <i class="far fa-star text-warning mx-0"></i>
                                </div>
                            </div>
                            <h3 class="h6 text-uppercase mb-1">
                                <a class="text-dark" href="{% url 'product' product.pk %}">{{ product.product_name }}</a>
                            </h3>
                            <p>{{ product.description|truncatechars:50 }}</p>


                            <span class="product-price"><strong>Price: </strong>&#163;{{ product.price }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</main>

{% endblock %}