{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

<main class="py-5">

    <div class="container header-container">
        <div class="row">
            {% for product in products %}
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="product p-1">
                        <div class="product-image">
                            <img class="" src="{{ product.image.url }}" alt="product">
                        </div>
                        <div class="product-info">
                            <p class="text-muted text-sm mb-1">{{ product.article_type }}</p>
                            <h3 class="h6 text-uppercase mb-1">
                                <a class="text-dark" href="{% url 'product' product.pk %}">{{ product.product_name }}</a>
                            </h3>

                            <div class="row p-2">
                                <div class="col-lg-3 py-1">
                                    <span class="text-muted">&#163;{{ product.price }}</span>
                                </div>
                                <div class="col-sm-8 col-lg-9">
                                    <div class="add-reomve input-group">
                                        <div class="input-group-prepend text-center">
                                            <a href="#" class="btn btn-outline-dark outline-dark minus">-</a>
                                        </div>
                                        <input type="text" class="quantity form-control text-center" placeholder="0">
                                        <div class="input-group-append">
                                            <a href="#" class="btn btn-outline-dark plus input-group-append text-center">+</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row p-2">
                                <div class="col-lg-6 py-1">
                                    <span>Total: {{ product.price }}</span>
                                </div>
                                
                                <div class="col-sm-2">
                                    <a class="btn btn-add-cart btn-outline-dark fa fa-shopping-cart" href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</main>

{% endblock %}