{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "products/styles/styles.css" %}" type="text/css">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="container-fluid products-wrapper">
    <div class="row">
        <div class="col-sm-12 col-md-3 px-md-0 col-lg-2 mt-2">
            <div class="container-fluid filter-container bg-light">
                <div class="navbar-collapse offcanvas-collapse bg-light" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0t">
                        <form action="" class="side-filter">
                            <legend>
                                <button class="navbar-toggler btn btn-offcanvas my-1" type="button" data-bs-toggle="offcanvas" aria-label="Toggle navigation">
                                    <i class="fas fa-filter"></i>
                                </button> 
                                Filters
                            </legend>
                
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle font-weight-bold nav-link text-black mr-5" href="#sortBy" id="all-products-link" data-bs-toggle="collapse" aria-controls="sortBy" aria-haspopup="true" aria-expanded="false">
                                    Sort by
                                </a>
                                <ul class="collapse multi-collapse border-0" id="sortBy" aria-labelledby="all-products-link">
                                    <li><a href="{% url 'allproducts' %}?sort=price&direction=asc" class="dropdown-item">By Price</a></li>
                                    <li><a href="{% url 'allproducts' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a></li>
                                    <li><a href="{% url 'allproducts' %}?sort=categories&direction=asc" class="dropdown-item ">By Category</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle font-weight-bold text-black mr-5" href="#" id="clothing-link" data-bs-toggle="collapse" aria-controls="byDeals" aria-controls="filterBy" aria-haspopup="true" aria-expanded="false">
                                    Clothing
                                </a>
                                <ul class="collapse border-0" aria-labelledby="clothing-link">
                                    <li><a href="{% url 'allproducts' %}?categories=Accessories" class="dropdown-item">Accessories</a></li>
                                    <li><a href="{% url 'allproducts' %}?categories=Apparel" class="dropdown-item">Apparel</a></li>
                                    <li><a href="{% url 'allproducts' %}?categories=Footware" class="dropdown-item">Footware</a></li>
                                    <li><a href="{% url 'allproducts' %}?categories=Accessories,Apparel,Footware" class="dropdown-item">All</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle font-weight-bold nav-link text-black mr-5" href="#byGender" id="homeware-link" role="button" data-bs-toggle="collapse" aria-controls="byGender" aria-haspopup="true" aria-expanded="false">
                                    By Gender
                                </a>
                                <ul class="collapse border-0" id="byGender" aria-labelledby="homeware-link">
                                    <li><a href="{% url 'allproducts' %}?gender=Unisex" class="dropdown-item">Unisex</a></li>
                                    <li><a href="{% url 'allproducts' %}?gender=Women" class="dropdown-item">Women</a></li>
                                    <li><a href="{% url 'allproducts' %}?gender=Men" class="dropdown-item">Men</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle font-weight-bold nav-link text-black" href="#byDeals" id="specials-link" data-bs-toggle="collapse" aria-controls="byDeals" aria-haspopup="true" aria-expanded="false">
                                    Special Offers
                                </a>
                                <ul class="collapse border-0" id="byDeals" aria-labelledby="specials-link">
                                    <li><a href="" class="dropdown-item">New Arrivals</a></li>
                                    <li><a href="" class="dropdown-item">Deals</a></li>
                                    <li><a href="" class="dropdown-item">Clearance</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a href="" class="dropdown-item">All Specials</a></li>
                                </ul>
                            </li>
                        </form>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-9 col-lg-10 mt-2">
            <div class="row py-sm-0">
                <div class="col-12">
                    <nav class="navbar navbar-expanden-md">
                        <div class="container-fluid">
                            <button class="navbar-toggler btn-offcanvas my-1" type="button" data-bs-toggle="offcanvas" aria-label="Toggle navigation">
                                <i class="fas fa-filter"></i>
                            </button>
                            
                            {% if search_term == 'None' %}
                                <span>All products</span>
                            {% else %}
                                <span><strong class="products-count" data-search-count="{{ products|length }}">{{ products|length }}</strong>&nbsp;results found for &nbsp;<strong>"{{ search_term }}"</strong></span>
                            {% endif %}

                            <select id="sort-selector" class="form-select rounded-0 border border-{% if current_sort != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sort == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sort == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sort == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sort == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sort == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sort == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sort == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sort == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sort == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                            
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row mt-2">
                <div class="d-flex flex-wrap justify-content-around">
                {% for product in products %}
                    <div id="product-{{ product.pk }}" class="card product-card mb-3 mx-2" >
                        <div id="product{{ value|add:2}}" class="col-12">
                            <a class="" href="{% url 'product' product.pk %}">
                                <div class="card-image">
                                        <img src="{{ product.image.url }}" class="" alt="..." >
                                </div>
                            </a>
                        </div>
                        <div class="col-12">
                            <div class="card-body">
                                <h6 class="card-title">
                                    <a class="text-dark" href="{% url 'product' product.pk %}">
                                        {{ product.name }}
                                    </a>
                                </h6>
                                <!--span class="text-muted text-sm mb-1">
                                    {{ product.article_type }}
                                </!--span>

                                <!--p class="card-text">{{ product.description|truncatechars:50 }}</!--p>
                                <!--p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></!--p-->
                                {#% for category in current_category %#}
                                    <!--p>{{ product.categories }}>{{ product.sub_categories }}</!--p-->
                                {#% endfor %#}
                                <div class="d-flex justify-content-between postition-relative">
                                    <div class="product-rating text-sm position-absolute" value="{{ product.pk }}" data-rating="{{ product.rating }}">
                                        {# {{ product.pk }} - {{ product.rating }} #}
                                    </div>
                                    <div class="product-price position-absolute" >
                                        <strong>Price: </strong>&#163;{{ product.price }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
    

{% endblock %}

{% block extra_js %}
    <script>
        /* Stars Counter Django-JS */
        /* From the ratin to the stars */
        var productCount = $(".products-count").data();
            console.log(productCount);
            for (i = 0; i <= productCount.searchCount; i++){
                
                $(`#product-${ i }`).each(function(){
                    var a = $(this).find(".product-rating").data();;
                    var rate = a.rating;

                        console.log(i + " " + rate);
                    for( j = 0; j < rate; j++) {
                        $(`#product-${ i }`).find(".product-rating").append('<i class="fas fa-star text-warning mx-0"></i>');
                    }

                });
                
            }
        /* End -- Stars Counter Django-JS */
    </script>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <script>
            $('.btn-offcanvas').click(function(){
                $('.offcanvas-collapse').toggleClass('open');
            })

        /* Code Institute Sort Filter */
        $('#sort-selector').change(function(){
            var sortSelect = $(this)
            var currentURL = new URL(window.location);
            
            var selectedValue = sortSelect.val();
            /* If selectedValue is NOT equals to REset */
            if ( selectedValue != 'reset'){
                var sortValue = selectedValue.split("_")[0]/* sort by value is in the first value of the array*/
                var directionValue = selectedValue.split("_")[1]/* ascending or decsending will be on the second value of the array  */
                
                currentURL.searchParams.set("sort", sortValue);
                currentURL.searchParams.set("direction", directionValue);


                console.log(currentURL)
                console.log(sortValue+'+'+directionValue);
                window.location.replace(currentURL);
            } else {
                currentURL.searchParams.delete("sort", sortValue);
                currentURL.searchParams.delete("direction", directionValue);
                console.log(currentURL);
                window.location.replace(currentURL);
            }
        })
        /* End -- Code Institute Sort Filter */
    </script>
{% endblock %}
