{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "products/styles/products_details_styles.css" %}" type="text/css">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="mt-6 mb-2 pb-2 border-bottom border-info border-3">{{ product.name }}</h1>
        </div>
        <div class="col-sm-12 px-sm-0 col-md-5 col-lg-5 product-detail-image">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image w-75">
        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 py-4">
            <div class="list-unstyled">
                <span><strong>Category: </strong><a class="text-muted" href="#">{{ product.categories.friendly_name }}</a></span>
                <span><strong>&#62;</strong> <a class="text-muted" href="#">{{ product.sub_categories.friendly_name }}</a></span>
                <span><strong>&#62;</strong> <a class="text-muted" href="#">{{ product.articles.friendly_name }}</a></span>
                
            </div>

            <div class="py-1"><strong>SKU:</strong> <span class="text-muted">{{ product.sku }}</span></div>
            
            <div class="d-flex align-items-center text-sm mb-4 my-2">
                <span class="mr-2">
                    <strong>Rating </strong>
                    <span id="rating-count" class="list-inline mr-2 mb-0 product-rating" data="{{product.rating}}">
                    </span>
                </span>
            </div>

            
            <h4>Description</h4>
            <p class="my-2 w-75">{{ product.description }}</p>
            

            <div class="my-4">
                <p class="list-inline h4 font-weight-light mb-2 mb-sm-0">
                    &#163;{{ product.price }}
                </p>
            </div>

            <form id="add_to_bag_form" action="{% url 'add_to_bag' product.pk %}" method="POST" class="my-2 w-75">
                {% csrf_token %}
                {% if product.has_size %}
                    <div class="input-group size-select input-group-lg my-3">
                        <span class="input-group-text text-light bg-warning border-warning" for="inputGroupSelect01">
                            <i class="fas fa-expand-alt fa-lg"></i>
                            Size <!--span>(required)</!--span-->
                        </span>
                        <select class="form-select custom-select form-control form-control-lg border-warning" name="product_size" id='id_product_size'>
                                <option value="sm">Small</option>
                                <option value="md">Medium</option>
                                <option value="lg">Large</option>
                        </select>
                    </div>
                {% endif %}
                
                <div class="input-group add-to-cart input-group-lg my-3">
                    <input class="form-control form-control-lg form-select-size text-center border-info" name="quantity" type="number" value="1" min="1" max="99" data-item-id="{{ product.pk }}" id="id_qty_{{ product.pk }}">
                    <button class="btn btn-info text-white btn-block input-group-text" type="submit">
                        <i class="fa fa-shopping-cart fa-lg mr-2"></i>
                        Add to Cart
                    </button>
                    
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        
            </form>
        </div>
    </div>
</div>
<script>
        /* Stars Counter Django-JS */
        /* From the ratin to the stars */
        var count = {{product.rating}}

        var productCount = $("#rating-count").data();
            for (i = 0; i < count; i++){
                $("#rating-count").append('<i class="fas fa-star text-warning mx-0"></i>');
            }; 
        /* End -- Stars Counter Django-JS */
    </script>
{% endblock %}

{% block product_rating_js %}
    <script>
        /* Stars Counter Django-JS */
        /* From the ratin to the stars */
        var count = {{product.rating}}

        var productCount = $("#rating-count").data();
            console.log(productCount)
            for (i = 0; i < count; i++){
                $("#rating-count").append('<i class="fas fa-star text-warning mx-0"></i>');
            }; 
        /* End -- Stars Counter Django-JS */
    </script>
{% endblock %}